body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.roboto-font {
  font-family: "Roboto Condensed";
}

.barlow-font {
  font-family: "Barlow";
}

.quattrocento-font {
  font-family: "Quattrocento";
}

.satisfy-font {
  font-family: "Satisfy";
}