body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #FAF7F2;
}

.header-banner img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.header-contents {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  margin-top: 3rem;
}

.header-contents img {
  display: block;
  margin: 0 auto;
}

.header-items {   
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-items p {
  margin: 1rem; 
}

.header-items .text-1 {
  font-family: "Satisfy";
  color: #FDC913;
  font-size: 2rem;
}

.header-items .text-2 {
  font-family: "Roboto Condensed";
  color: white;
  font-size: 6rem;
  font-weight: 300;
}

.header-items a {
  background-color: #FDC913;
  font-family: "Barlow";
  font-weight: 600;
  border-radius: 3rem;
  padding: 1rem 4rem;
  display: inline-block;
  margin-top: 1rem;
}

.list-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  background-color: white;
  z-index: 1;
} 

.list-contents li{
  display: flex;
  flex-direction: row;
  padding: 1.5rem 1rem;
}

.list-contents p {
  display: flex;
  font-family: "Barlow";
  font-weight: 500;
  padding: 1.5rem 1rem;
}

.cta-contents {
  display: flex;
  justify-content: center;
  margin: 4rem 16rem;
}

.cta-contents img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.cta-card-1 img {
  margin-right: 1rem;
}

.cta-card-2 img {
  margin-bottom: 1.5rem;
}

.cta-card-1 {
  position: relative;
}

.cta-card-1 p:first-of-type {
  position: absolute;
  top: 5rem;
  left: 2rem;
  font-family: "Quattrocento";
  font-weight: bold;
  font-size: 4rem;
  color: white;
}

.cta-card-1 p:nth-of-type(2) {
  position: absolute;
  top: 10rem;
  left: 2rem;
  font-family: "Quattrocento";
  font-weight: bold;
  font-size: 4rem;
  color: white;
}

.cta-card-1 p:last-of-type {
  position: absolute;
  top: 15rem;
  left: 2rem;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 20px;
  color: white;
}

.cta-card-1 a {
  position: absolute;
  top: 18rem;
  left: 2rem;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 1rem;
  color: #CE2829;
  background-color: white;
  border-radius: 2rem;
  padding: 1.5rem 2.5rem;
}

.cta-card-2 {
  position: relative;
}

.cta-card-2 p:first-of-type {
  position: absolute;
  top: 3rem;
  left: 2rem;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 2rem;
  color: white;
  line-height: 3rem;
}

.cta-card-2 p:last-of-type {
  position: absolute;
  top: 6rem;
  left: 2rem;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 2rem;
  color: white;
  line-height: 3rem;
}

.cta-card-2 a {
  position: absolute;
  top: 10rem;
  left: 2rem;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 1rem;
  color: #CE2829;
  background-color: white;
  border-radius: 2rem;
  padding: 1.5rem 2.5rem;
}

.cta-card-3 {
  position: relative;
}

.cta-card-3 p:first-of-type {
  position: absolute;
  top: 3rem;
  left: 2rem;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 2rem;
  color: black;
  line-height: 3rem;
}

.cta-card-3 p:last-of-type {
  position: absolute;
  top: 6rem;
  left: 2rem;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 2rem;
  color: black;
  line-height: 3rem;
}

.cta-card-3 a {
  position: absolute;
  top: 10rem;
  left: 2rem;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 1rem;
  color: #CE2829;
  background-color: white;
  border-radius: 2rem;
  padding: 1.5rem 2.5rem;
}

.upper-middle-text {
  text-align: center;
  font-family: "Satisfy";
  font-weight: 400;
  font-size: 2rem;
  color: #CE2829;
  margin-bottom: 2rem;
}

.bottom-middle-text {
  text-align: center;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 3rem;
  color: black;
  margin-bottom: 2rem;
}


.button-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.button-list button {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 1rem;
  background-color: white;
  border: none;
  padding: 0 2rem;
  border-radius: 3rem;
}

.button-list button:nth-of-type(2) {
  background-color: black;
  color: white;
}

.button-list button p {
  font-family: "Barlow";
  font-weight: 500;
  padding: 1.5rem 0rem;
  margin-left: 1rem;
  font-size: 1rem;
}

.priced-contents {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.priced-contents img {
  object-fit: cover;
  margin-bottom: 1rem;
}

.priced-contents > div {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
}

.priced-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 1.5rem;
}

.priced-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: auto;
}

.priced-info p {
  color: #1B1B1BB2;
  font-size: 1rem;
  margin-top: 1rem;
}

.priced-info p:last-child {
  color: black;
}
