body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #FAF7F2;
}

.header-banner img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.header-contents {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  margin-top: 3rem;
}

.header-contents img {
  display: block;
  margin: 0 auto;
}

.header-items {   
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-items p {
  margin: 1rem; 
}

.header-items .text-1 {
  font-family: "Satisfy";
  color: #FDC913;
  font-size: 2rem;
}

.header-items .text-2 {
  font-family: "Roboto Condensed";
  color: white;
  font-size: 6rem;
  font-weight: 300;
}

.header-items a {
  background-color: #FDC913;
  font-family: "Barlow";
  font-weight: 600;
  border-radius: 3rem;
  padding: 1rem 4rem;
  display: inline-block;
  margin-top: 1rem;
}


.list-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  background-color: white;
} 

.list-contents li{
  display: flex;
  flex-direction: row;
  padding: 1.5rem 1rem;
}

.list-contents p {
  display: flex;
  font-family: "Barlow";
  font-weight: 500;
  padding: 1.5rem 1rem;
}