body {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: white;
}

.roboto-font {
  font-family: "Roboto Condensed";
}

.barlow-font {
  font-family: "Barlow";
}

.quattrocento-font {
  font-family: "Quattrocento";
}

.satisfy-font {
  font-family: "Satisfy";
}

.header-container {
  position: relative;
  text-align: center;
}

.color-yellow {
  color: #FDC913;
}

.color-lightgray {
  color: #5F5F5F;
}

.color-darkgray {
  color: #292929;
}

.color-red {
  color: #CE2829;
}

.color-beige {
  color: #FAF7F2;
}

.header-banner img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.header-items {
  margin-top: 3rem;
  gap: 2rem;
}

.header-items p {
  margin: 1rem; 
}

.header-items a {
  background-color: #FDC913;
  border-radius: 3rem;
  padding: 1rem 4rem;
  display: inline-block;
  margin-top: 1rem;
}


.header-contents {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  margin-top: 3rem;
}

